<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="../static/css/lib/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock %} - Open Scholar</title>
    {% endblock %}
  </head>
  <body>
    



  <div class="row">
    <div class="col-lg-3">
      <ul>
        <li class="list-group-item">
          <a href="/home" method="get">Home</a>
        </li>
        <li class="list-group-item">
          <a href="/profile" method="get">My Profile</a>
        </li>
        <li class="list-group-item">
          <a href="/search" method="get">Search Articles</a>
        </li>
        <li class="list-group-item">
          <a href="/upload" method="get">Upload Articles</a>
        </li>
      </ul>
    </div>
  </div>

{% block navbar %}
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <ul class="nav navbar-nav">
        <li>
          <a href="/home" method="get">Home</a>
        </li>
        <li>
          <a href="/profile" method="get">My Profile</a>
        </li>
        <li>
          <a href="/search" method="get">Search Articles</a>
        </li>
        <li>
          <a href="/upload" method="get">Upload Articles</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{% endblock %}


<h1>{% block pageTitle %}{% endblock %}</h1>
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">
      {% block footer %}
      &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
      {% endblock %}
    </div>
  </body>
</html>