{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block pageTitle %}Home{% endblock %}
{% block content %}
 <div class="row">
 	<div class="row">
		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-10 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 col-xs-offset-1">
		 	<h2>Welcome to Open Access Publishing!</h2>
		 	<p>Our vision is freedom of reliable academic information, benifiting readers, researchers, and the advancement of society as a whole.  To fulfill that vision we offer a free software platform for publishing scholarly articles that leverages principles of social media both to get users connected and involved with authors, and help them discover research that sparks their unique interests, whatever those may be.</p>
		</div>
	</div>
</div>
</body>
{% endblock %}