{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block pageTitle %}Home{% endblock %}
{% block content %}
 <div class="row">
 	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
		 	<h2>Welcome to Open Access Publishing!</h2>
		 	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab est ullam neque? Aut aliquam placeat voluptate, possimus id ex ad suscipit fugit ut nobis alias illo, excepturi, non minima, incidunt!</p>
		</div>
	</div>
</div>
</body>
{% endblock %}