{% extends "base.html" %}
{% block title %}Login{% endblock %}
<!--
{% block head %}
  {{ super() }}
{% endblock %} -->
{% block pageTitle %}Login{% endblock %}
{% block navbar %}{% endblock %}
{% block content %}
<section class="loginform cf">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4 form-container">
            <form name="login" action="login" method="post" accept-charset="utf-8">
                <ul>
                    <li><label>Email</label>
                    	<input type="username" name="usermail" placeholder="username">
                	</li>
                    <li><label>Password</label>
                    	<input type="password" name="password" placeholder="password">
                	</li>
                    <li>
                    <!-- <input type="button" value="Login" href="/login"> -->
                    <button>Login</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>
{% endblock %}