{% extends "base.html" %}
{% block title %}Profile{% endblock %}
	{% block pageTitle %}Profile{% endblock %}
{% block content %}
<div class="col-lg-3 col-lg-offset-1">
	<ul>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
	</ul>
</div>
{% endblock %}