{% extends "base.html" %}
{% block title %}Profile{% endblock %}
	{% block pageTitle %}Profile{% endblock %}
{% block content %}
<div class="col-lg-3 col-lg-offset-1">
	<ul>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
		<li class="list-group-item">
			<blockquote>
			  <p>So and So did such and such.</p>
			  <footer>
			  	Author<cite title="Source Title">Source Title</cite>
			  </footer>
			</blockquote>
		</li>
	</ul>
</div>


<script>

 // Load the SDK asynchronously
  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

    // var js, fjs = document.getElementsByTagName('script')[0];
    // if (!document.getElementById('facebook-jssdk')) {
    //   js = document.createElement('script'); js.id = 'facebook-jssdk';
    //   js.src = "//connect.facebook.net/en_US/sdk.js";
    //   fjs.parentNode.insertBefore(js, fjs);
    // }


  window.fbAsyncInit = function() {
  FB.init({
    appId      : '736094593188442',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    status     : true,  // Check Facebook Login status
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.2' // use version 2.2
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });
  };

  // This is called with the results from from FB.getLoginStatus().
  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      // Logged into your app and Facebook.  goood goooood
      //testAPI();
        FB.api('/me', function(response) {
          console.log(JSON.stringify(response));
        });

    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this app.';
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into Facebook.';
    }
  }

  </script>
{% endblock %}


