{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/app.css') }}">
{% endblock %}
{% block title %}Search Articles{% endblock %}
{% block pageTitle %}Search Articles{% endblock %}
{% block content %}
<div class="container"> <!-- container for whole page -->
	<div class="row">
		
		<div class="col-lg-4 col-lg-offset-4 form-container">
			<h3>Search by Title</h3>
			<form action="search-byTitle" method=post enctype=multipart/form-data>
				<p><input type=string name=title class=mimic-tagsinput>
				   <input type=submit value=search></p>
			</form>
		</div>
				
		<div class="col-lg-4 col-lg-offset-4 form-container">
			<h3>Search by Authors</h3>
			<form action="search-byAuthors" method=post enctype=multipart/form-data>
				<p><input type=string name=authors class=mimic-tagsinput data-role="tagsinput">
				   <input type=submit value=search></p>
			</form>
		</div>
		
		<div class="col-lg-4 col-lg-offset-4 form-container">
			<h3>Search by Tags</h3>
			<form action="search-byTags" method=post enctype=multipart/form-data>
				<p><input type=string name=tags data-role="tagsinput">
				   <input type=submit value=search></p>
			</form>
			<!--
			<div class="form-group">
	        	<label for="exampleTags">Tags</label>
	        	<input type="text" class="form-control" id="exampleTags" data-role="tagsinput" name="tags">
	      	</div>
	      -->
		</div>
		<div class="col-lg-4 col-lg-offset-4 form-container">
			<p id="blah1"></p>
			<p id="blah2"></p>
			<!-- Button trigger modal -->
			<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
			  Launch demo modal
			</button>

			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
			      </div>
			      <div class="modal-body">
			        <p><input id="ALASKA1" type=string>
			        <input id="ALASKA2" type=string></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			        <button type="button" class="btn btn-primary" id="save-btn" 
			        onclick="myFunction('ALASKA1', 'ALASKA2')" data-dismiss="modal">Save changes</button>
			      </div>
			    </div>
			  </div>
			</div>
		</div>

	</div>

	<!--<div class="row">
		<div class="col-lg-4 col-lg-offset-4">
			<h2>Results:</h2>
			<ul>
			{% for result in results %}
				<li>
					<a href={{"/viewer/" + result.id}}>{{ result.title }}</a>
					<p>Tags: {% for tag in result.tags %} {{tag}} {% endfor %}</p>
				</li>
			{% endfor %}
		</div>
	</div> -->

	<hr class="col-md-12"> <!-- divider line -->

	<div class="row"> <!-- start of search results row -->
        <div class="col-md-12"> <!-- start of search results column -->
          <div class="panel panel-default"> <!-- start of search results subsection panel -->
            <div class="panel-heading"> <!-- start of panel heading -->
              <h2 id="sec0">Results</h2>
            </div> <!-- end of panel heading -->
            <div class="panel-body"> <!-- start of search results panel body -->

            	{% for result in results %}
					<!-- <li>
						<a href={{"/viewer/" + result.id}}>{{ result.title }}</a>
						<p>Tags: {% for tag in result.tags %} {{tag}} {% endfor %}</p>
					</li> -->
					<div class="paperBlock">
		              <img class="pdf_thumbnail col-md-1" src="{{ url_for('static', filename='img/pdf_preview.jpg') }}" alt="No Thumb">
		              <div class="col-md-3">
		                <strong>Paper Title:</strong> {{ result.title }}</br>
		                <a href={{"/viewer/" + result.id}}>View Paper</a>
		              </div>
		              <div class="col-md-3">
		                <strong>Paper Author(s):</strong> {% for author in result.authorNames %} {{author}}, {% endfor %}
		              </div>
		              <div class="col-md-3">
		                <strong>Tag(s):</strong> {% for tag in result.tags %} {{tag}}, {% endfor %}
		              </div>
		            </div> <!-- end of paper block -->

		            <hr class="col-md-11"> <!-- divider line -->
				{% endfor %}

            </div> <!-- end of search results panel body -->
          </div> <!-- end of search results subsection panel -->
          <hr class="col-md-12"> <!-- divider line -->
        </div> <!-- end of search results column -->
    </div> <!-- end of search results row -->

</div> <!-- end of container -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="{{ url_for('static', filename='dist/bootstrap-tagsinput.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/bootstrap-tagsinput/bootstrap-tagsinput-angular.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.js"></script>
  <script src="{{ url_for('static', filename='assets/app.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/app_bs3.js') }}"></script>
  <script type="text/javascript">
  	$('#openBtn').click(function(){
  
	  	$('.modal-body').load('/render/62805',function(result){
		    $('#myModal').modal({show:true});
		});	
	});
  </script>
  <script>
  	function myFunction(elmnt1,elmnt2) {
  		document.getElementById('blah1').innerHTML=document.getElementById(elmnt1).value;
  		document.getElementById('blah2').innerHTML=document.getElementById(elmnt2).value;
  	}
  </script>
{% endblock %}