{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
<link rel="stylesheet" href="{{ url_for('static', filename='dist/bootstrap-tagsinput.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/themes/github.css">
<link rel="stylesheet" href="{{ url_for('static', filename='assets/app.css') }}">



{% endblock %}
{% block title %}Upload Articles{% endblock %}
{% block pageTitle %}Upload Articles{% endblock %}
{% block content %}

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 form-container">
    <form action="" method=post enctype=multipart/form-data>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input class="full-width" type="file" name="file" id="exampleInputFile">
        <!-- helper text if user needs extra explanation within form -->
        <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
      <div class="form-group">
        <label for="exampleTitle">Title</label>
        <input type="text" class="form-control" id="exampleTitle" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="exampleAuthorName">Author Name</label>
        <input type="text" class="form-control" id="exampleAuthorName" placeholder="Author Name" name="authorName">
      </div>


      <div class="form-group">
        <label for="exampleDatePublished">Date Published</label>
        <input type="date" class="form-control" id="exampleDatePublished" placeholder="Date Published" name="datePublished">
      </div>
      <div class="form-group">
        <label for="exampleAbstract">Abstract</label>
        <textarea class="form-control" rows="4" id="exampleAbstract" placeholder="Abstract" name="abstract"></textarea>
        <!-- <input type="text" class="form-control" id="exampleAbstract" placeholder="Abstract" name="abstract"> -->
      </div>
      <div class="form-group">
        <label for="exampleReferences">References</label>
        <textarea class="form-control" rows="4" id="exampleReferences" placeholder="References" name="references"></textarea>
        <!-- <input type="text" class="form-control" id="exampleReferences" placeholder="Referencse" name="references"> -->
      </div>



      <div class="form-group full-width">
        <label for="exampleTags">Tags</label>
        <input type="text" class="form-control full-width" id="exampleTags" data-role="tagsinput" name="tags">
      </div>
      <button type="submit" class="btn btn-default">Upload</button>
    </form>
  </div>
</div>

<!-- <div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h1>Uploaded Files:</h1>
    <ul>
    {% for result in results %}
    	<li>
    		<a href={{"/uploads/" + result['uniqueID']}}>{{ result['filename'] }}</a>
    	</li>
    {% endfor %}
    </ul>
  </div>
</div> -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.10.4/typeahead.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
  <script src="{{ url_for('static', filename='dist/bootstrap-tagsinput.min.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/bootstrap-tagsinput/bootstrap-tagsinput-angular.min.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/rainbow.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/generic.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/html.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rainbow/1.2.0/js/language/javascript.js"></script>
  <script src="{{ url_for('static', filename='assets/app.js') }}"></script>
  <script src="{{ url_for('static', filename='assets/app_bs3.js') }}"></script>
{% endblock %}