{% extends "base.html" %}
{% block title %}Upload Articles{% endblock %}
{% block pageTitle %}Upload Articles{% endblock %}
{% block content %}
<!-- <form action="" method=post enctype=multipart/form-data>
	<p><input type=file name=file>
	   <input class="button" type=submit value=Upload></p>
</form> -->

<div class="row">
  <div class="col-lg-4 col-lg-offset-4 form-container">
    <form action="" method=post enctype=multipart/form-data>
      <div class="form-group">
        <label for="exampleTitle">Title</label>
        <input type="text" class="form-control" id="exampleTitle" placeholder="Title" name="title">
      </div>
      <div class="form-group">
        <label for="exampleAuthorName">Author Name</label>
        <input type="text" class="form-control" id="exampleAuthorName" placeholder="Author Name" name="authorName">
      </div>
      <div class="form-group">
        <label for="exampleTags">Tags</label>
        <input type="text" class="form-control" id="exampleTags" placeholder="Tags" name="tags">
      </div>
      <div class="form-group">
        <label for="exampleInputFile">File input</label>
        <input type="file" name="file" id="exampleInputFile">
        <!-- helper text if user needs extra explanation within form -->
        <!-- <p class="help-block">Example block-level help text here.</p> -->
      </div>
      <button type="submit" class="btn btn-default">Upload</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <h1>Uploaded Files:</h1>
    <ul>
    {% for result in results %}
    	<li>
    		<a href={{"/uploads/" + result['uniqueID']}}>{{ result['filename'] }}</a>
    	</li>
    {% endfor %}
    </ul>
    {% endblock %}
  </div>
</div>