{% extends "base.html" %}
{% block head %}
<!-- grab Jquery from a CDN, so we don't have to save and serve it -->
<script src="http://code.jquery.com/jquery-2.1.4.js"></script>
{% endblock %}
{% block title %}PDF Viewer{% endblock %}
{% block pageTitle %}PDF Viewer{% endblock %}
{% block content %}
<!-- <iframe src="/uploads/{{uniqueID}}" width="800" height="800"></iframe> -->

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
        			{% if favorited %}
            			<button class="favoriteButton" id="fav" style="display: none" onclick="addFavorite();">Favorite!</button>
            			<button class="unfavoriteButton" id="unfav" onclick="rmFavorite();">Unfavorite!</button>
        			{% else %}
            			<button class="favoriteButton" id="fav" onclick="addFavorite();">Favorite!</button>
            			<button class="unfavoriteButton" id="unfav" style="display: none" onclick="rmFavorite();">Unfavorite!</button>
        			{% endif %}
                </div>
            </div>
			<br>
            <div class="row">
                <div class="col-lg-12">
        			{% for tagName in paper.tags %}
                    <div class="col-lg-3">
        				{{ tagName }}
        				{% if favoritedTags[loop.index - 1] %}
            	                <button class="favoriteButton" id="favTag{{tagName}}" style="display: none" onclick="addFavoriteTag('{{tagName}}');">Favorite Tag!</button>
            	                <button class="unfavoriteButton" id="defavTag{{tagName}}" onclick="rmFavoriteTag('{{tagName}}');">Unfavorite Tag!</button>
                        {% else %}
            	                <button class="favoriteButton" id="favTag{{tagName}}" onclick="addFavoriteTag('{{tagName}}');">Favorite Tag!</button>
            	                <button class="unfavoriteButton" id="defavTag{{tagName}}" style="display: none" onclick="rmFavoriteTag('{{tagName}}');">Unfavorite Tag!</button>
                        {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-12">
                    {% for author in paper.authorIDs %}
                        <div class="col-lg-4">
                        	{{ paper.authorNames[loop.index - 1]}}
                        	{% if favoritedAuthors[loop.index - 1] %}
                	                <button class="favoriteButton" id="favAuthor{{author}}" style="display: none" onclick="addFavoriteAuthor('{{author}}');">Favorite Author!</button>
                	                <button class="unfavoriteButton" id="defavAuthor{{author}}" onclick="rmFavoriteAuthor('{{author}}');">Unfavorite Author!</button>
            	            {% else %}
                		            <button class="favoriteButton" id="favAuthor{{author}}" onclick="addFavoriteAuthor('{{author}}');">Favorite Author!</button>
                		            <button class="unfavoriteButton" id="defavAuthor{{author}}" style="display: none" onclick="rmFavoriteAuthor('{{author}}');">Unfavorite Author!</button>
            		        {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <br>
			<object data="/uploads/{{uniqueID}}" type="application/pdf" height="850" width="100%">
				<embed src="/uploads/{{uniqueID}}" type="application/pdf"/>
			</object>
		</div>
	</div>
</div>
<hr class="col-md-12"> <!-- divider line -->
<hr class="col-md-12"> <!-- divider line -->

<script>
function addFavorite() {
	console.log("Adding favorite...");
	$.ajax({
    type : "POST",
    url : "/addFavorite",
    data: {paperID : {{uniqueID}}},
    
    success: function(result) {
        console.log(result);
        document.getElementById("fav").style.display="none";
		document.getElementById("unfav").style.display="inline";
    }
});
}

function rmFavorite() {
	console.log("Removing favorite...");
	$.ajax({
    type : "POST",
    url : "/removeFavorite",
    data: {paperID : {{uniqueID}}},
    
    success: function(result) {
        console.log(result);
        document.getElementById("unfav").style.display="none";
		document.getElementById("fav").style.display="inline";
    }
});
}

function addFavoriteTag(tagArg) {
	console.log("Adding favorite tag...");
	$.ajax({
    type : "POST",
    url : "/addFavoriteTag",
    data: {tag : tagArg},
    
    success: function(result) {
        console.log(result);
        document.getElementById("favTag".concat(tagArg)).style.display="none";
		document.getElementById("defavTag".concat(tagArg)).style.display="inline";
    }
});
}

function rmFavoriteTag(tagArg) {
	console.log("Removing favorite tag...");
	$.ajax({
    type : "POST",
    url : "/removeFavoriteTag",
    data: {tag : tagArg},
    
    success: function(result) {
        console.log(result);
        document.getElementById("defavTag".concat(tagArg)).style.display="none";
		document.getElementById("favTag".concat(tagArg)).style.display="inline";
    }
});
}

function addFavoriteAuthor(authorArg) {
	console.log("Adding favorite author...");
	$.ajax({
    type : "POST",
    url : "/addFavoriteAuthor",
    data: {author : authorArg},
    
    success: function(result) {
        console.log(result);
        document.getElementById("favAuthor".concat(authorArg)).style.display="none";
		document.getElementById("defavAuthor".concat(authorArg)).style.display="inline";
    }
});
}

function rmFavoriteAuthor(authorArg) {
	console.log("Removing favorite author...");
	$.ajax({
    type : "POST",
    url : "/removeFavoriteAuthor",
    data: {author : authorArg},
    
    success: function(result) {
        console.log(result);
        document.getElementById("defavAuthor".concat(authorArg)).style.display="none";
		document.getElementById("favAuthor".concat(authorArg)).style.display="inline";
    }
});
}
</script>

{% endblock %}


